@import "../../../../mixin";

.product{
    &__wrapper{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-column-gap: 20px;
        padding-top: 20px;
    }
    &__sidebar{
        &__inner{
            padding: 0 20px;
        }
        &__category,&__brand,&__rating{
            border-bottom: 1px solid #ccc;
            margin: 15px 0;
        }
        &__title{
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    &__main{
            width: 100%;
            overflow: hidden;
        &__title{
            font-size: 24px;
            text-transform: capitalize;
        }
        &__header{
            display: grid;
            grid-template-columns: 3fr 2fr;
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
            align-items: center;
        }
        &__body{
            width: 100%;
            overflow: hidden;
            // display: grid;
            // grid-template-columns: 1fr 1fr 1fr ;
            // grid-gap: 25px;
            padding: 30px;
        }
        &__sort{
            @include flexbox(center);
            &-title,&-select{
                margin-right: 25px;
            }
            &-select{
                flex: 1;
            }
        }
    }
    &__list{
        @include flexbox(flex-start,flex-start,wrap,row);
    }
    &__item{
        width: calc(31%);
        margin: 0 2.3% 2.3% 0;
    }
    &__paginion{
        margin-top: 40px;
        @include flexbox(center,center);
    }
   }