@import "../../../../mixin";
@import "../../../../variables";

.post{
    &__box{
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 2px solid $color-second;
        border-radius: 8px;
        padding: 10px 15px;
    }
    &__title{
        font-size: 16px;
        font-weight: 600;
        line-height: 1.4;
        color: $text-subTitle;
        @include dotText();
        &:hover{
            color: $text-second;
            transition: color 0.25s ease;
        }
    }
    &__desc-short{
        margin: 5px 0 0 0;
        font-size: 14px;
        @include  dotText();
        color: grey;
    }
    &__view-comment{
        @include flexbox(center,space-between);
        margin-top: 15px;
        &__box{
            color: gray;
            font-size: 12px;
            @include flexbox(center);
            &>span{
                margin: 0 2% 0 0;
            }
        }
      
    }
}