@import "../../../../mixin";
@import "../../../../variables";

.payment-order{
    padding: 40px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    &__sku{
        font-size: 18px;
        padding-bottom: 10px;
    }
    &__date{
        padding: 5px 0;
    }
    &__title{
        font-size: 16px;
        color: $text-primary;
        margin-bottom: 5px;
    }
    &__info{
        font-size: 14px;
        margin-top: 25px;
        & thead{
            background-color: #f6f6f6;
            border: 1px solid #eaeaea;
            text-transform: uppercase;
        }
        & tbody td{
            vertical-align: middle;
        }
        & td:not(:nth-child(2)){
           text-align: center;
        }
        & tfoot>tr:first-child td{
            border-top: 2px solid #ccc !important;
        }
        & tfoot td{
            font-weight: 600;
        }
    }
    &__store{
        &>td{
            font-weight: 600;
            text-align: left !important;
        }
    }
    &__product{
        &__image{
            height: 60px;
            width: 60px;
            & img{
                border-radius: 0;
            }
        }
        &__desc{
            color: #aaaaaa;
            width: 540px;
            &>p{
                color: #212121;
                height: 45px;
                display: block;
                @include dotText();
            }
        }
        &__quanty{
            text-align: center;
        }
    }
    &__total-price{
        font-weight: 500;
        padding: 15px;
        text-align: right;
        &>span:last-child{
            font-size: 24px;
            color: $text-price;
            margin-left: 20px;
        }
    }
}