@import "../../../mixin";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.home__title{
    font-size: 22px;
    color: #424242;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: 600;
   }

.home{
   &__top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 0.2fr;
    grid-gap: 25px;
    grid-template-areas:"category banner banner banner"
                        "category subBanner1 subBanner2 subBanner3";
    &-item:first-child{
        grid-area: category ;   
    }
    &-item:nth-child(2){
        grid-area: banner ;
        color: red;
    }
    &-item:nth-child(3){
        grid-area: subBanner1 ;
    }
    &-item:nth-child(4){
        grid-area: subBanner2 ;
    }
    &-item:last-child{
        grid-area: subBanner3 ;
    }
    &-item{
        @include flexbox(flex-start,center);
        overflow: hidden;
    }
   }  
   &__category{
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        border-radius: 12px;
   }
   &__sub-banner{
       border-radius: 12px;
   }

}

// product
.home__product{
    margin-top: 50px;
    &__carousel{
        padding-top: 25px;
    }
    &__sale{
        margin-top: 30px !important;
        &__list{
            @include flexbox(flex-start,flex-start,wrap,row);
            margin-top: 25px;
        }
        &__item{
            width: calc(25% - 25px);
            margin: 0 0 25px 25px;
        }
    }
    &__header{
        @include flexbox(center,space-between);
    }
}
  //__product-hot
.react-multi-carousel-item{
    //  width: calc(319px - 25px) !important;
    padding: 0 1%;
}
.react-multiple-carousel__arrow{
    z-index: 10 !important;
}
.image-gallery-image{
    max-height: none !important;
}
.plex-gap-25{
    gap: 25px;
}
// Stores
.home__Stores{
    margin-top: 30px;
    &__list{
        margin-top: 25px;
    }
}



