$color-primary: #009fff;
$color-second: #ec2f4b;

$text-primary:#ec2f4b;
$text-second: #009fff;
$text-price: #f57224;
$text-subTitle:#242424;

$border-primary:#ccc;
$border-clicked:#009fff;

$baseColor: #009fff;