.wrapper{
    width: 100%;
    margin: 0 auto;
  }
  .wrapper_inner{
    padding: 0px 45px 30px 45px;
  }
  .row{
    width: 100%;   
    overflow: hidden;
  }
  img{
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  
  textarea {
    resize: none;
    border: 1px solid #ccc; 
    width: 100%;
     border-radius: 3px;
     padding: 16.5px 14px;
     outline-color: #1976d2;
     font-size: 1rem;
     font-weight: 400;
  }
  
  .text-trong{
    font-weight: 600;
  }
  
  .mt-5rem{
    margin-top: 5rem;
  }
  .text-18{
    font-size: 18px;
  }
  // CLENT
  .client{
    margin-top: 6rem;
}
.client__inner{
    margin-top: 50px;
    margin-left: 24px;
    margin-right: 24px;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
}